/* Background */

body {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Text */

h1 {
    font-family: 'Zen Loop', cursive;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
}

h2, a {
    font-family: 'Zen Loop', cursive;
    font-size: 40px;
}

/* Footer */

footer {
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    font-size: 30px;
    background-color:azure;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}