<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Experiencia Laboral</title>
</head>
<body>
    <header>
        <h1>Experiencia laboral</h1>
    </header>
    <main>
        <div>
        <dl>
            <dt>
                <span class="estilo_2_span">2015 - 2016: </span>
                <span>Estudio Contable Scravaglieri & Asociados</span>
            </dt>
            <dd>Desempeño como trainee en contabilidad y auditoría</dd>
        </dl>
        <dl>
            <dt>
                <span class="estilo_2_span">2016 - 2018: </span>
                <span>CONICET</span>
            </dt>
            <dd>Analista contable-financiero Jr.</dd>
        </dl>
        <dl>
            <dt>
                <span class="estilo_2_span">2018 - 2021: </span>
                <span>Freelance</span>
            </dt>
            <dd>Asesor independiente en contabilidad y finanzas</dd>
        </dl>
        </div>
        <div class="div_volver">
            <span class="volver">
                <a href="../cv_kalas_jorge.html">Volver</a>       
            </span>
        </div>
    </main>
    <footer>
        <span>03546-15401757</span>

        <a href="https://www.linkedin.com/in/jorgekalas/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://github.com/jorgekalas" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </footer>
</body>
</html>