<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sobre mí</title>
</head>
<body>

    <header>
        <h1>Sobre mí</h1>
    </header>
    <main>
        <div class="sobre_mi">
            <ul type="none">
                <li>
                    <span class="estilo_span">Nombre completo: </span>
                    <span>Jorge Adrián Kalás</span>
                </li>
                <li>
                    <span class="estilo_span">Fecha de nacimiento: </span>
                    <span>26/01/1992</span>
                </li>
                <li>
                    <span class="estilo_span">Lugar de nacimiento:</span>
                    <span>Santa Rosa de Calamuchita, Córdoba, Argentina</span>
                </li>
                <li>
                    <span class="estilo_span">Lugar de residencia actual:</span>
                    <span>Córdoba Capital</span>
                </li>
                <li>
                    <span class="estilo_span">Hobbies:</span>
                    <span>Me apasionan el running, la música y los buenos libros</span>
                </li>
            </ul>
        </div>
        <div class="div_volver">
            <span class="volver">
                <a href="../cv_kalas_jorge.html">Volver</a>
            </span>
                
        </div>
    </main>

    <footer>
        <span>03546-15401757</span>

        <a href="https://www.linkedin.com/in/jorgekalas/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://github.com/jorgekalas" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </footer>
</body>
</html>