<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contactostyles.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <p>20% de descuento en todos los productos!</p>
        <div class="nombretienda">
            <img src="../img/tienda.png" alt="">
            <h1>Nombre Tienda</h1>
        </div>
    </header>
    <main>
        <h1>Contacto</h1>
        <form action="../heroes.html" method="GET">
            <input type="text" name="nombre" placeholder="Nombre y apellido" required>
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <textarea name="contacto" cols="30" rows="10" required></textarea>
            <div class="buttons">
            <button type="reset">Resetear</button>
            <button type="submit">Entrar</button>
            </div>
        </form>
    </main>
    <footer>
        <p>Todos los derechos reservados a FRONT END 1</p>
    </footer>
</body>
</html>