<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harley Quinn</title>
    <link rel="stylesheet" href="../css/harley.css">
</head>
<body>
    <header>
        <p>Estamos hecho unos locxs</p>
        <h1>Harley Quinn</h1>
    </header>
    <main>
        <div class="harley">
            <div class="texto">
            <img class="corazon_pixel" src="../img/corazon_pixel.png" alt="corazon_pixel">
            <img class="foto" src="../img/harley_perfil.png" alt="harley">
            <h2>Harley Quinn</h2>
            <p class="descripcion"> 
                <span>Harley Quinn</span> (nombre real <span> Dra. Harleen Frances Quinzel</span>) es un personaje ficticio creado por los estadounidenses Paul Dini y Bruce Timm para la editorial DC Comics. Quinn hizo su debut en el vigésimo-segundo episodio de Batman: la serie animada, «El favor del Joker», en septiembre de 1992 y se convirtió en una villana recurrente en la serie, posee una excelente agilidad y es rápida peleando, solo es superada por Batman y el Joker. Su agilidad se debe a ser una gimnasta y una acróbata.
            </p>
            <div class="iconos">
            <img id="bate" src="../img/bate.png" alt="bate">
            <img id="gun" src="../img/gun.png" alt="revólver">
            <img id="bazooka" src="../img/bazooka.png" alt="bazuca">
            </div>
            </div>
            <div class="volver">
            <a href="../heroes.html">
            <span>Volver al home</span>
            </div>
            </a>
        </div>
    </main>
    <footer>
        <p>Todos los derechos reservados a FRONT END 1</p>
    </footer>
</body>
</html>